<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbarContainer">
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <div class="navbar-inner">
        <div class="container">
          <a class="navbar-brand" href="#">Joebook</a>
            <ul class="nav-inline">

              <li class="nav-item"><%= link_to "All Statuses", statuses_path , :class => "nav-link" %></li>
              <ul>
        </div>
    </div>
  </nav>
</div>

  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
